.header {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.header_wrapper {
    display: flex;
    max-width: 1440px;
    width: 100%;
    padding: 0px 15px;
}


.container {
    display: flex;
    padding: 10px 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    border-radius: 0px 0px 10px 10px;
}