.header_wrapper{
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--black);
    padding: 15px 0px;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 15px;
    }
}

