.newList{
    position: fixed;
    right: 2%;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--purple);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    &:hover{
        p{
            color: var(--white);
        }
        svg{
            path{
                fill: var(--white);
            }
        }
    }

    p{
        transition: all 0.3s ease ;
        font-size: 20px;
    }

    svg{
        width: 30px;
        height: 30px;
        path{
            transition: all 0.3s ease ;
        }
    }
}

.modal{
    display: none;
    transition: all 0.3s ease-in;
}

.modal_wrapper{
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border:  2px solid black;
    padding: 10px;
    .heading{
        font-size: 36px;
    }
}

.modal_content{
    display: flex;
    
    svg{
        width: 20px;
        height: 20px;
    }
}

.modal.active{
    display: block;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in;
    background-color: rgba(0, 0, 0, 0.626);
    overflow: hidden;
}

