.lists{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    // grid-template-columns: repeat(auto-fit , minmax(290px  ,1fr));
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 20px;
    justify-content: center;
}