.task {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--purple);
    border-radius: 5px;
    padding: 3px 3px;
    margin: 10px 0px;
    z-index: -4;
}

.task_left {
    display: flex;

    .check {
        margin-right: 5px;

        svg {
            path {
                fill: grey;
            }
        }

        svg.isDone {
            path {
                fill: white;
            }
        }
    }
}

.task_content{
    display: block;
    width: 220px;
    font-size: 16px;
    line-height: 120%;
    pre{
        display: block;
        max-width: 100%;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
}
