.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--purple);
    border-radius: 5px;
    padding: 3px 3px;
    margin: 10px 0px;
    z-index: 10;
}

.check {
    margin-right: 5px;

    svg {
        path {
            fill: grey;
        }
    }
}

.task_left{
    max-width: 250px;
    width: 100%;
}