.listCard {
    width: 100%;
    max-height: 340px;
    height: fit-content;
    overflow: hidden;
    border: 2px solid var(--black);
    padding: 0px 10px 10px 10px;
    border-radius: 0px 0px 10px 10px; 
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    margin: 0px -12px 0px -12px;
    color: var(--white);
    padding: 2px 12px;

    svg {
        cursor: pointer;

        path {
            fill: var(--white);
        }
    }
}

.date {
    font-size: 10px;
}

.list_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    padding: 5px 0px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--purple);
    border-radius: 5px;
    padding: 3px 3px;
    margin: 10px 0px;
    z-index: -4;
}

.task_left {
    display: flex;

    .check {
        margin-right: 5px;

        svg {
            path {
                fill: grey;
            }
        }
    }
}

.card_tasks{
    overflow-y: auto;
    max-height: 235px;
    height: fit-content;
    scrollbar-color: red;
}

