.listCard {
    position: relative;
    width: 100%;
    max-width: 337px;
    height: 340px;
    overflow: hidden;
    border: 2px solid var(--black);
    padding: 0px 10px 10px 10px;
    border-radius: 10px; 
}


.card_tasks{
    position: relative;
    overflow-y: auto;
    max-height: 230px;
    border-radius: 10px; 
    padding-right: 5px;
    height: 100%;
    z-index: 0;
}

.noItems{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: -1;
    img{
        width: 50px;
    }
    span{
        padding-top: 10px;
        font-size: 24px;
    }
}

.date{
    opacity: 0.5;
    padding-top: 5px;
    position: absolute;
    bottom: 1%;
    left: 5px;
}